
.aboutWhole{
    margin-top: 130px;
    margin-left: 10.5%;
    display: block;
    width: 90%;
}

.aboutText{
    font-size: 17px;
    width: 450px;
}

.about1{
    background-color: white;
    padding: 30px;
    display: flex;
    width: 83.5%;
    margin-bottom: 20px;
    
}

.about1Img{
    margin-left: 15%;
    background-image: url('./pictures/infoImages/image1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
}

.about1Group{
    display: block;
    margin-left: 16%;
}

.aboutButton{
    background-color: rgb(255, 222, 0);
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.aboutButton:hover{
    cursor: pointer;
    background-color: rgba(207, 180, 6, 0.925);
}

.about2{
    background-color: white;
    padding: 30px;
    display: flex;
    width: 83.5%;
    margin-bottom: 20px;
}

.about2Img{
    margin-left: 15%;
    background-image: url('./pictures/infoImages/image2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
}

.about2Group{
    display: block;
    margin-left: 16%;
}

.about3{
    background-color: white;
    padding: 30px;
    display: flex;
    width: 83.5%;
    margin-bottom: 30px;
}

.about3Img{
    margin-left: 15%;
    background-image: url('./pictures/infoImages/image3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
}

.about3Group{
    display: block;
    margin-left: 16%;
}

.aboutIcons{
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 80px;
    margin-bottom: 50px;
}

.aboutIconsFirst{
    margin-left: 35%;
}

.facebookImg{
    background-image: url('./pictures/infoImages/facebook-icon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin-right: 50px;
}

.youtubeImg{
    background-image: url('./pictures/infoImages/youtube-icon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin-right: 50px;
}

.linkedinImg{
    background-image: url('./pictures/infoImages/linkedin-icon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

/*

    MOBILE

*/

@media only screen and (max-width : 750px) {

    .about1Img{
        display: none;
    }
    .about2Img{
        display: none;
    }
    .about3Img{
        display: none;
    }
}

@media only screen and (max-width : 850px) {

    .aboutText{
        width: 200px;
    }

    .aboutIconsFirst{
        margin-left: 15%;
    }
}