@font-face {
    font-family: inter;
    src: url(./fonts/Interwght.ttf);
}


.App{
    font-family: inter;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}


.mainContent{
    width: 86%;
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.lngButton{
    background-color: white;
    display: inline-block;
    font-weight: bold;
    border: none;
    margin-bottom: 20px;
    font-size: 15px;
}
.lngButton:hover:enabled{
    cursor: pointer;
    color: rgb(54, 124, 43);
}



@media only screen and (max-width : 480px) {
    .App{
        font-family: sans-serif;
        width: 100vw;
        height: 100vh;
    }
    body{
        margin: 0;
        padding: 0;
    }
    
    .mainContent{
        width: 94%;
        margin-left: 1%;
        margin-top: 3%;
        margin-bottom: 5%;
    }
}