
.heroDiv{
    display: flex;
    margin-top: 1%;
    margin-left: 10.3%;
}

.parallax {
    /* The image used */
    background-image: url("./pictures/backgroud/backgroundFinal.jpg");
    /* Set a specific height */
    min-height:570px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

@media only screen and (max-width : 480px) {
    
.heroDiv{
    display: flex;
}

}