
.custom-select {
    position: relative;
    width: auto;
    display: inline-flex;
    z-index: 1;
}

.radios input:hover{
    color: rgb(54, 124, 43);
    z-index: -1;
}

  
.custom-select[open] {
    z-index: 0;
}
  
.radios {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    display: flex;
    z-index: 1;
    padding: 15px;
}

.radios:hover{
    background-color: rgb(240, 240, 240);
    color: rgb(54, 124, 43);
    border-color: rgb(54, 124, 43);
    cursor: pointer;
}
  
.radios::-webkit-details-marker {
    display: none;
}
  
.custom-select[open] .radios:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    
}
  
.radios:after {
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
}
  

  
.list {
    z-index: 2;
    background: rgb(240, 240, 240);
    position: absolute;
    top: calc(100% + .5rem);
    
    padding: 1rem;
    width: 204px;
    margin-left: 0px;
    margin-top: -10px;
    list-style: none;
    

    box-sizing: border-box;
    max-height: 300px;
    overflow-y: auto;

}
  
.kundenLi {
    margin: 0;
    margin-left: 10px;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.kundenLi a {
    color: black;
    text-decoration: none;
}

.kundenLi label a:hover{
    cursor: pointer;
    color: rgb(54, 124, 43);
}
  
.kundenLi:first-child {
    padding-top: 0;
}
  
.kundenLi:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
  
  /* FAKE SELECT */
  
.radios.radios {
    counter-reset: radios;
}
  
.radios.radios:before {
    content: var(--selection);
}
  
.kundenInput[type=radio] {
    counter-increment: radios;
    appearance: none;
    display: none;
}


.kundenInput[type=radio]:checked {
    display: inline;
   --display: block;

}
  

@media only screen and (max-width: 1406px) {
    .radios{
        font-size: 18px;
    }
    .radios:after {
        margin-top: 7px;
        width: .5rem;
        height: .5rem;
    }
}

@media only screen and (max-width: 1342px) {
    .radios{
        font-size: 16px;
    }
    .radios:after {
        width: .4rem;
        height: .4rem;
        margin-top: 6px;
    }
}

@media only screen and (max-width: 860px) {
    .radios{
        font-size: 1px;
    }
    .custom-select{
        display: none;
    }
}