.listDiv{
    margin-left: 4%;
}

.listH2{
    margin-bottom: 30px;
}


/*

    ORDER LIST ITEM

*/

.wrapper{
    display: flex;
    width: 100%;
}

.accordion{
    width: 95%;
}

.item{
    background: white;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.item:hover{
    background: rgb(233, 233, 233);
}

.beforeDiv{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.listItemH3{
    color: rgb(54, 124, 43);
}

.toggleSpan{
    margin-top: 45px;
    font-size: 20px;
    color: gray;
}

.afterDiv{
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0,1,0,1);
}

.afterDivshow{
    height: auto;
    max-height: 9999px;
    transition: all 0.3s cubic-bezier(0,1,0,1);
}

.orderDiv1{
    display: flex;
    
}

.orderListDivFlex{
    display: flex;
    margin-bottom: -10px;
}

.orderDiv2{
    display: flex;
    margin-top: 6px;
}

.listH3andPBlock{
    display: block;
    margin-left: 5px;
}

.orderStatusDiv{
    display: flex;
    margin-top: 30px;
}

.mobilStatus{
    width:30%;
    justify-content: space-between;
    display: flex;
}
.mobilStatusHidden{
    display: none;
}


.orderStatussourced{
    color: rgb(54, 124, 43);
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.orderStatusunsourced{
    color: rgb(242, 169, 0);
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.orderStatuscanceled{
    color: rgb(242, 56, 0);
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.orderStatusinventory{
    color: rgb(0, 196, 179);
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.orderImg{
    background-image: url(./pictures/icons/tractor2.webp);
    height: 130px;
    width: 220px;
    background-size: cover;
    background-repeat: no-repeat;
}

.orderImg2{
    background-image: url(./pictures/icons/tractor1.webp);
    height: 130px;
    width: 220px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.orderBar{
    background-image: url('./pictures/icons/bar1.png');
    height: 160px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.checkButtonShow{
    background-color: rgb(255, 222, 0);
    display: inline-block;
    padding: 10px 20px;
    height: 35px;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.101);
    margin-top: 38px;
    margin-bottom: 30px;
}
.checkButtonShow:hover{
    cursor: pointer;
    background-color: rgba(207, 180, 6, 0.925);
}

.block{
    display: block;
}

.p1{
    font-weight: bold;
    margin-right: 10px;
}

.p1Status{
    font-size: 18px;
    font-weight: bold;
}
.p2{
    font-weight: bold;
    margin-bottom: -13px;
}
/*

    ITEM SOURCED

*/
.orderListItemSourced{
    margin-left: 225px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
}

.orderListItemSourced p{
    margin-right: 120px;
    
    display: flex;
}


/*

    ITEM UNSOURCED

*/

.orderListItemUnsourced{
    margin-top: 40px;
    margin-left: 225px;
    display: flex;
    margin-bottom: 20px;
}

.orderListItemUnsourced p {
    margin-right: 180px;
    
}

/*

    ITEM INVENTORY

*/

.orderListItemInventory{
    margin-top: 40px;
    margin-left: 225px;
    margin-bottom: 10px;
    display: flex;
}

.orderListItemInventory p{
    margin-right: 180px;
   
}

/*

    ITEM CANCELED

*/

.orderListItemCanceled{
    margin-top: 40px;
    margin-left: 225px;
    margin-bottom: 10px;
    display: flex;
}

.orderListItemCanceled p{
    margin-right: 180px;
   
}

/*

    CHECKBOX

*/

.checkboxDiv{
    background-color: white;
    display: flex;
    margin-bottom: 20px;
    padding: 5px;
    margin-right: 10px;
    width: 150px;
    justify-content: center;
    border: 2px;
    border-color: black;
}

.checkbox-wrapper{
    margin-right: 20px;
}


.checkBoxInput:checked + .spanLabel{
    color: rgb(54, 124, 43);
}

.listCheckDiv{
    display: flex;
}



/*

------------------------------------------------------------
MOBIL
------------------------------------------------------------


*/
@media only screen and (max-width : 1535px) {

    /*

    ITEM SOURCED

    */
.orderListItemSourced{
    margin-left: 225px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
}

.orderListItemSourced p{
    margin-right: 30px;
    
    display: flex;
}


/*

    ITEM UNSOURCED

*/

.orderListItemUnsourced{
    margin-top: 40px;
    margin-left: 225px;
    display: flex;
    margin-bottom: 20px;
}

.orderListItemUnsourced p {
    margin-right: 30px;
    
}

/*

    ITEM INVENTORY

*/

.orderListItemInventory{
    margin-top: 40px;
    margin-left: 225px;
    margin-bottom: 10px;
    display: flex;
}

.orderListItemInventory p{
    margin-right: 30px;
   
}

/*

    ITEM CANCELED

*/

.orderListItemCanceled{
    margin-top: 40px;
    margin-left: 225px;
    margin-bottom: 10px;
    display: flex;
}

.orderListItemCanceled p{
    margin-right: 30px;
   
}


}




@media only screen and (max-width : 1000px) {
    .listDiv{
        margin-left: 4%;
    }
    
    .listH2{
        padding: 20px;
    }
    
    
    /*
    
        ORDER LIST ITEM
    
    */
    
    .wrapper{
        display: flex;
    }
    
    .accordion{
        width: 95%;
    }
    
    .item{
        font-size: 15px;
        background: white;
        margin-bottom: 5px;
        padding: 20px 40px;
    }

    .item:hover{
        background: rgb(251, 251, 251);
    }
    
    .beforeDiv{
        display: block;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    
    .listItemH3{
        color: rgb(54, 124, 43);
    }
    
    .toggleSpan{
        margin-top: 15px;
        font-size: 20px;
        color: gray;
    }
    
    .afterDiv{
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0,1,0,1);
    }
    
    .afterDivshow{
        height: auto;
        max-height: 9999px;
        transition: all 0.3s cubic-bezier(0,1,0,1);
    }
    
    .orderDiv1{
        margin-left: -20px;
        display: block;
    }
    
    .orderListDivFlex{
        display: block;
        margin-right: 10px;
        margin-bottom: -10px;
    }
    
    .orderDiv2{
        display: flex;
        margin-left: 10px;
        margin-top: 6px;
    }

    .orderStatusDiv{
        display: flex;
        margin-left: -20px;
    }
    .topRow{
        display: flex;
    }
    
    .mobilStatus{
        display: none !important;
    }
    .mobilStatusHidden{
        justify-content: right;
        width: 90%;
        display:flex;
    }

    .orderStatussourced{
        color: rgb(54, 124, 43);
        font-size: 18px;
        font-weight: bold;
        
    }
    .orderStatusunsourced{
        color: rgb(242, 169, 0);
        font-size: 18px;
        font-weight: bold;
        
    }
    .orderStatuscanceled{
        color: rgb(242, 56, 0);
        font-size: 18px;
        font-weight: bold;
        
    }
    .orderStatusinventory{
        color: rgb(0, 196, 179);
        font-size: 18px;
        font-weight: bold;
        
    }
    
    .orderImg{
        display: none;
    }
    
    .orderImg2{
        background-image: url(./pictures/icons/tractor1.webp);
        height: 130px;
        width: 220px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .orderBar{
        background-image: url('./pictures/icons/bar1.png');
        height: 160px;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .checkButtonShow{
        background-color: rgb(255, 222, 0);
        display: inline-block;
        padding: 10px 20px;
        height: 35px;
        font-weight: bold;
        border: none;
        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.101);
        margin-top: 38px;
        margin-bottom: 30px;
    }
    
    .block{
        display: block;
    }
    
    .p1{
        font-weight: bold;
        margin-right: 10px;
    }
    
    .p1Status{
        font-size: 18px;
        font-weight: bold;
    }
    .p2{
        font-weight: bold;
        margin-bottom: -13px;
    }
    /*
    
        ITEM SOURCED
    
    */
    .orderListItemSourced{
        margin-left: -20px;
        margin-top: 20px;
        display: block;
    }
    
    .orderListItemSourced p{
        margin-right: 20px;
        display: flex;
    }
    
    
    /*
    
        ITEM UNSOURCED
    
    */
    
    .orderListItemUnsourced{
        margin-left: -20px;
        margin-top: 20px;
        display: block;
    }
    
    .orderListItemUnsourced p {
        margin-right: 20px;
        display: flex;
        
    }
    
    /*
    
        ITEM INVENTORY
    
    */
    
    .orderListItemInventory{
        margin-left: -20px;
        margin-top: 20px;
        display: block;
    }
    
    .orderListItemInventory p{
        margin-right: 20px;
        display: flex;
       
    }
    
    /*
    
        ITEM CANCELED
    
    */
    
    .orderListItemCanceled{
        margin-left: -20px;
        margin-top: 20px;
        display: block;
    }
    
    .orderListItemCanceled p{
        margin-right: 20px;
        display: flex;
       
    }
    
    /*
    
        CHECKBOX
    
    */
    
    .checkboxDiv{
        background-color: white;
        display: flex;
        margin-bottom: 20px;
        padding: 5px;
        margin-right: 10px;
        border-radius: 5px;
        width: 150px;
        justify-content: center;
        border: 2px;
        border-color: black;
    }
    
    .checkbox-wrapper{
        margin-right: 20px;
    }
    
    
    .checkBoxInput:checked + .spanLabel{
        color: rgb(54, 124, 43);
    }
    
    .listCheckDiv{
        display: flex;
    }
    
    
    
}