

.backImg{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./pictures/backgroud/backgroundFinal.jpg');
}

.loginFormWhole{
    display: flex;
    justify-content: center;
}

.logoImg{
    background-image: url("./pictures/logos/logo_only_icon/green-favicon/android-chrome-512x512.png");
    width: 35%;
    height: 35%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 4rem;
    margin-left: 33%;
}

.loginForm{
    display: block;
    padding: 4em;
    margin-top: 17%;
    z-index: 2;
}

.backgroundBlur{
    background: rgba(255, 255, 255, 0.617);
    backdrop-filter: blur(8px);
    margin-top: 4.5rem;
    justify-content: center;
    position: fixed;
    height: 321px;
    width: 429px;
    z-index: -1;
}

.loginH2{
    color: rgb(54, 124, 43);
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-top: -1em;
    margin-bottom: 1.5em;
}

.form-inner{
    position: relative;
    display: block;  
}

.loginForm-group{
    display: block;
    width: 300px;
    margin-top: 20px;
}

.loginInput{
    display: block;
    width: 90%;
    padding: 10px 15px;
    background-color: white;
    transition: 0.4s;
    border-color: rgb(195, 189, 189);
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 15px;
}

.loginInput:focus{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
    background-color: rgb(247, 247, 247);
}
.loginButton{
    background-color: rgb(255, 222, 0);
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}
.loginButton:hover{
    cursor: pointer;
    background-color: rgba(207, 180, 6, 0.925);
}

.error{
    animation: shake 300ms;
    color: rgb(194, 16, 32);
    padding: 0%;
}

@keyframes shake {
    25%{
        transform: translateX(4px);
    }
    50%{
        transform: translateX(-4px);
    }
    75%{
        transform: translateX(4px);
    }
}

.countrySelect{
    padding: 6px;
    margin-bottom: 10px;
    
    background-color: rgb(240, 240, 240);
    
}
.countrySelect:hover{
    cursor: pointer;
    
}

.lngsLogin{
    position: absolute;
    margin-top: 1.5%;
    margin-left: 90%;
    
}




@media only screen and (max-width : 445px) {
    
    .backgroundBlur{
        width: 350px;
    }
    .loginH2{
        margin-left: -30px;
    }
    .countrySelect{
        margin-left: -30px;
    }
    .loginForm-group{
        margin-left: -30px;
    }
    .logoImg{
        margin-left: 24%;
    }
}