.orderWholeDiv{
    margin-bottom: 80px;
    margin-top: 40px;
}

.orderForm{
    display: flex;
    margin-left: 4%;
}

.orderForm-inner{
    display: block;
}

.order-inner-inner{
    display: block;
}

.orderForm-groupOut{
    margin-top: 5%;
    display: block; 
}

.orderForm-group{
    display: block;
    
}

.orderForm-groupButton{
    display: flex;
}

.orderInput{
    color: rgb(54, 124, 43);
    display: block;
    width: 213px;
    height: 18px;
    padding: 8px 15px;
    background-color: white;
    transition: 0.4s;
    border-color: rgb(195, 189, 189);
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 15px;
}
.orderInput:focus{
    background-color: rgb(240, 240, 240);
}

.checkButton{
    background-color: rgb(255, 222, 0);
    display: inline-block;
    padding: 10px 20px;
    height: 30px;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.101);
    height: 35px;
}
.checkButton:hover{
    cursor: pointer;
    background-color: rgba(207, 180, 6, 0.925);
}

.orderError{
    animation: shake 300ms;
    color: rgb(194, 16, 32);
    padding: 0%;
}

@keyframes shake {
    25%{
        transform: translateX(4px);
    }
    50%{
        transform: translateX(-4px);
    }
    75%{
        transform: translateX(4px);
    }
}


/*
    INFO STYLE
*/
.orderInfo{
    display: flex;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 4rem;
    background-color: rgb(229, 230, 230);
    border-radius: 15px;
    margin-bottom: 40px;
}

.reqInfo{
    padding: 10px;
    display: block;
    margin-left: 1rem;  
}

.orderH3{
    margin-left: 1rem;
}
.orderH3i{
    margin-left: 1rem;
    margin-bottom: 22px;
}

.reqInfoOut{
    display: block;
    margin-bottom: 1rem;
    background-color: white;
    height: 17px;
    
}

.orderItem{
    margin-left: 4%;
    width: 91%;
}


@media only screen and (max-width : 480px) {
    .orderForm{
        display: flex;
    }

    .orderForm-inner{
        display: block;
    }
    
    .order-inner-inner{
        display: block;
    }
    
    .orderForm-groupOut{
        display: block; 
    }
    
    .orderForm-group{
        display: block;
        margin-left: 30px;
    }
    
    .orderForm-groupButton{
        display: flex;
    }
    
    .orderInput{
        margin-bottom: 10px;
    }
    
    .orderInput{
        display: flex;
        background-color: white;
        transition: 0.4s;
        border-color: rgb(195, 189, 189);
        margin-bottom: 15px;
        margin-right: 30px;
        margin-left: -30px;
        font-size: 14px;
    }
    .orderInput:focus{
        background-color: rgb(240, 240, 240);
    }

    
    
    /*
        INFO STYLE
    */
    .orderInfo{
        display: flex;
        padding: 1rem;
        margin-top: 2rem;
        margin-left: 4rem;
        background-color: rgb(229, 230, 230);
        border-radius: 15px;
        margin-bottom: 40px;
    }
    
    .reqInfo{
        padding: 10px;
        display: block;
        margin-left: 1rem;  
    }
    
    .orderH3{
        margin-left: 1rem;
    }
    .orderH3i{
        margin-left: 1rem;
        margin-bottom: 22px;
    }
    
    .reqInfoOut{
        display: block;
        margin-bottom: 1rem;
        background-color: white;
        height: 17px;
        
    }
    
    .orderItem{
        margin-left: 4%;
        width: 91%;
    }
}


